.Quiz {
    text-align: center;

  }
  
  .question-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 50%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    color: #111;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  .quiz-ul {
    list-style: none;
  }
  
  .quiz-li {
    margin-top: 8px;
    background-color: #b0cadb;
    padding: 8px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .question-text {
    color: #111;
    font-size: 20px;
  }
  
  /* Final Results  */
  
  .final-results {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 50%; /* Can be in percentage also. */
    height: auto;
    margin-top: 64px;
  
    /* Visual  */
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    color: #111;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
 .quiz-button {
    background-color: #b0cadb; /* Green */
    border: none;
    color: #111;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
  }

  .quiz-button:hover {
    cursor: pointer; 
  }
 

.dictionary-text:hover{
text-decoration: underline;
}

.chatBotDiv {
  background-color:rgb(208, 242, 255);
   border-radius:"4%" 
}

.chatBotDiv:hover {
  background-color: #ffe7d9;
}